* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.recipe {
    border: solid;
    border-color: midnightblue;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    color: black;
    text-decoration-line: none;
}

#recipes li {
    margin-top: 15px;
}